<div class="contactBook">
  <div class="addContacts">
    <h1 class="heading">Add Contact</h1>
    <div class="inputSection">
      <input type="text" autocomplete="off" [(ngModel)]="name" placeholder="Enter Contact Name" required>
      <input type="text" autocomplete="off" [(ngModel)]="email" placeholder="Enter Contact Email" required>
      <input type="text" autocomplete="off" [(ngModel)]="phoneNumber" placeholder="Enter Contact Phone Number" required>
      <input type="text" autocomplete="off" [(ngModel)]="image" placeholder="Enter Contact Image">
    </div>
    <button id='submit' (click)="addContact()">Submit New Contact</button>
  </div>
  <div id="headerContainer">
    <h2 class="heading">Contacts</h2>
  </div>
  <div class="contacts">
    <div *ngFor="let contact of contacts" class="contact">
      <div class="profileImage">
        <img id="image" src="{{ contact.image || defaultImage }}" alt="">
      </div>
      <div class="contactDetails">
        <div class="name">
          <label for="name">Name:</label>
          <span id="name">{{ contact.name }}</span>
        </div>
        <div class="email">
          <label for="email">Email:</label>
          <span id="email">{{ contact.email }}</span>
        </div>
        <div class="phoneNumber">
          <label for="phone">Phone Number:</label>
          <span id="phone">{{ contact.phoneNumber }}</span>
        </div>
      </div>
    </div>
  </div>
</div>